@import url(https://fonts.googleapis.com/css?family=Nunito:200,600);@import url(https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/darkly/bootstrap.min.css);@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);#mynav {
  bottom: 20px;
}

#footer {
  top: 300px;
}

.form-check-label {
  padding-bottom: 5px;
}

